html {
	font-family: "open Sans", sans-serif;
	box-sizing: border-box;
	text-transform: uppercase;
}

body {
	background-color: #60a9ff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.whole-box {
	background-color: white;
	border-radius: 10px;
	padding: 15px 25px;
	width: 100%;
	max-width: 960px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.ind-box {
	border-bottom: 1px solid #e1f1ff;
}
.ind-box:last-child {
	border-bottom: none;
}
.ind-box img {
	margin-bottom: 25px;
	max-width: 100%;
}
.header {
	color: #888;
	font-weight: 600;
	letter-spacing: 1px;
}

.feature {
	margin: 50px 0 25px;
	color: #016ff9;
}
.item {
	padding: 15px 0;
	line-height: 1.5;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	border-top: 1px #e1f1ff solid;
}

.item:last-child {
	border-bottom: 1px #e1f1ff solid;
}

.price {
	color: #016ff9;
	font-size: 32px;
	font-weight: 700;
	display: block;
}

.button {
	color: #348efe;
	border: #9dd1ff solid 1px;
	border-radius: 10px;
	display: inline-block;
	padding: 15px 35px;
	text-decoration: none;
	margin: 25px 0;
	transition: background-color 200ms ease-in-out;
}
.button:hover,
.button:focus {
	background-color: #e1f1ff;
}
#but {
	background-color: #48aaff;
	color: white;
}
#but:hover,
#but:focus {
	background-color: #269aff;
	color: white;
}
@media (min-width: 900px) {
	.whole-box {
		flex-direction: row;
	}
	.ind-box {
		border-bottom: none;
		border-right: 1px solid #e1f1ff;
		padding: 25px 50px;
	}
	.ind-box:last-child {
		border-right: none;
	}
}
