body {
	background-color: #f5d9d5;
	font-family: "Nunito", sans-serif;
}
.blurb h2 {
	color: #ea1c2c;
	font-weight: 100;
	font-size: 2.5rem;
}
.blurb p {
	color: #f498b8;
	font-weight: 100;
	font-size: 1.125rem;
	line-height: 2;
}

#mainNav .navbar-brand {
	color: #ea1c2c;
	font-size: 1.5rem;
}

#mainNav {
	font-size: 1.5rem;
	font-weight: 100;
}
#mainNav .nav-link:hover {
	color: #ea1c2c;
}

#heading h1 {
	font-weight: 100;
	font-size: 4rem;
}
#heading span {
	color: #ea1c2c;
}
.content {
	margin-top: 100px;
	margin-bottom: 100px;
}
.navbar.scrolled {
	background-color: rgb(222, 192, 222);
	transition: background 500ms;
}
@media (max-width: 1200px) {
	#heading h1 {
		font-weight: 100;
		font-size: 3rem;
	}
}
